[submodule "include/StrainZip"]
	path = include/StrainZip
	url = git@github.com:bsmith89/StrainZip.git
[submodule "include/kmc"]
	path = include/kmc
	url = https://github.com/refresh-bio/kmc.git
[submodule "include/compbio-scripts"]
	path = include/compbio-scripts
	url = git@github.com:bsmith89/compbio-scripts.git
[submodule "include/CodonAlign"]
	path = include/CodonAlign
	url = https://github.com/santiagosnchez/CodonAlign.git
